@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased min-h-screen flex flex-col;
  background-color: #000000;
  color: #ffffff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
